footer.footer
  .container
    .footer__inner
      .footer__col
        .footer__logo.logo
          img(src="static/images/img/logo-white.svg" alt="Flex")
        p Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений
        .socials
          a(href="#").socials__item
            +icon('logo-facebook','socials__icon')
          a(href="#").socials__item
            +icon('logo-twitter','socials__icon')
          a(href="#").socials__item
            +icon('logo-instagram','socials__icon')
          a(href="#").socials__item
            +icon('logo-github','socials__icon')
      .footer__col
        .footer__contacts 
          span Контакты
          p Санкт-Петербург, ул. Ленина, д. 160
          a(href="tel:+78128002030") +7 (812) 800-20-30






